@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:ital,wght@0,300;1,400&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}

.carousel-item{
        height: fit-content;
}
.welcome-content{
    border-radius: 10px;
}
.welcome-header{
    padding: 30px;
}
.welcome-text{
    padding: 20px;
}

.aboutus-content{
    border-radius: 10px;
    padding:20px;
}
.aboutus-text .text-card{
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    border: none;
}
.aboutus-text .image-card{
    border: none;
}
.image-card img{
    border-radius:5px;
}



    