<div class="container">
    
      <!-- profilon belüli nav -->      
      <div class="offcanvas offcanvas-start justify-content-center"  data-bs-scroll="true" data-bs-backdrop="false" id="profilmenu">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offParagraph text-center mb-2">
                <h5>
                    Adatlap:
                </h5>
                <button type="button" class="btn btn-light" routerLink="/adatlap">Szerkesztés</button>
            </div>
            <div class="offParagraph text-center mb-2">
                <h5>
                    Jelentkezések:
                </h5>
                <button type="button" class="btn btn-light mb-1">Részletek</button>
                <button type="button" class="btn btn-light">Szerkesztés</button>
            </div>
            <div class="offParagraph text-center mb-2">
                <h5>
                    Admin felület:
                </h5>
                <button type="button" class="btn btn-light mb-1">Felhasználók</button>
                <button type="button" class="btn btn-light mb-1">Képzések</button>
                <button type="button" class="btn btn-light">Gép típusok</button>
            </div>
            <div class="offParagraph text-center">
                <button type="button" class="btn btn-light">Kilépés</button>
            </div>
        </div>
      </div>
<!-- kkkkk -->

<div class="card p-4 mt-3 mb-3">
    <div class="row">
        <div class="col-6">
            <h2>
                Üdvözöljük !
            </h2>
            <p class="mt-4 p-2">
                Itt tudja megtekinteni az Adatlapján szereplő személyes adatait <br>
                és a Jelentkezéseinek listáját. <br>
                Ügyeljen arra, hogy minden adatát adja meg, <br>
                mielőtt leadja a jelentkezését.
            </p>
        </div>
        <div class="col-6">
            <div>
                <table class="table table-borderless mb-5">
                    <tbody>
                        <tr>
                          <th scope="row">Felhasználónév</th>
                            
                        </tr>
                        <tr>
                          <th scope="row">Emailcím</th>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="text-center p-2">
                <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#profilmenu" aria-controls="offcanvasExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <h3 class="p-3 text-center">Adatlap</h3>
                <div class="card-body">
                    <div>
                        <!-- adatbetöltés helye        -->
                    </div>                         
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card shadow">
                <h3 class="p-3 text-center">Jelentkezések és típusvizsgák</h3>
                <div class="card-body">
                    <div>
                        <!-- adatbetöltés helye  -->
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
