<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="card">
                <h2 class="p-2">Adatlap</h2>
                <div class="card-body">
                    <div>

                    </div>
                        <button type="button" class="btn btn-dark" routerLink="">Megnyitás</button>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h2 class="p-2">Profil</h2>
                <div class="card-body">
                
                </div>
              </div>
        </div>

    </div>
</div>
