<div class="container">
    <div class="card p-5 mt-5 shadow">
        <h3 class="text-center mb-3">Admin felület</h3>
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h5>Felhasználók</h5>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-light" routerLink="/adminfelh">Megnyitás</button>
                        </div>  
                    </div>              
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h5>Képzéseink</h5>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-light" routerLink="/adminkepzsk">Megnyitás</button>
                        </div>  
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h5>Repülők</h5>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-light" routerLink="/adminrep">Megnyitás</button>
                        </div>  
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>