<div class="container">
    <div class="card p-3 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let oszlop of oszlopok">
                        {{ oszlop.text }}
                    </th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td *ngFor="let oszlop of oszlopok">
                        {{ user[oszlop.key] }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifymodal" (click)="showUserDetails(user)" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                            </svg>
                        </button>  
                    </td> 
                </tr>
            </tbody>
        </table>  

            <!-- modal -->
            <div class="modal fade" id="modifymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header justify-content-center">
                      <h4 id="exampleModalLabel">Felhasználók módosítása</h4>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Felhasználónév</label>
                            <input [(ngModel)]="selectedUser.user_name" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Email cím</label>
                            <input [(ngModel)]="selectedUser.email" type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Vezetéknév</label>
                            <input [(ngModel)]="selectedUser.first_name" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Keresztnév</label>
                            <input [(ngModel)]="selectedUser.last_name" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Anyja neve</label>
                            <input [(ngModel)]="selectedUser.mothers_name" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Lakcím</label>
                            <input [(ngModel)]="selectedUser.address" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Telefonszám</label>
                            <input [(ngModel)]="selectedUser.phone_number" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Születési dátum</label>
                            <input [(ngModel)]="selectedUser.birth_day" type="date" class="form-control">
                        </div>
                    </div>

                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
                      <button type="button" class="btn btn-warning">Mentés</button>
                      <button type="button" class="btn btn-danger">Törlés</button>
                    </div>
                  </div>
                </div>
            <!-- modal-end -->

        </div>
    </div>
</div>
