<h1>Get Users</h1>
<p>{{getUsersValue|json}}</p>

<div class="container">
    <table class="table table-trapped">

        <thead>
            <th>user_id</th>
            <th>course_id</th>
            <th>user_name</th>
            <th>email</th>
            <th>password</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>mothers_name</th>
            <th>address</th>
            <th>birth_day</th>

            
        </thead>
    

    <tbody>
        <tr *ngFor="let data of getUsersValue">
            <td>{{data.user_id}}</td>
            <td>{{data.course_id}}</td>
            <td>{{data.user_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.password}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.mothers_name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.birth_day}}</td>
        </tr>
    </tbody>
</table>
        
</div>
