
  <ul class="nav justify-content-center p-5" >
    <li class="nav-item dropdown">
      <a class="nav-link dropdown" data-bs-toggle="dropdown" role="link">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
          <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
        </svg>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/tajekoztato" >Tájékoztató</a></li>
        <li><a class="dropdown-item" routerLink="/jelentkezes" >Jelentkezések</a></li>
        <li><a class="dropdown-item" routerLink="/galeria" >Tipusvizsgák</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fooldal">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-houses-fill" viewBox="0 0 16 16">
          <path d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.5 2.5 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z"/>
          <path d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z"/>
        </svg>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown" data-bs-toggle="dropdown" role="link">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/bejel" >Bejelentkezés</a></li>
        <li><a class="dropdown-item" routerLink="/profil">Profil</a></li>
      </ul>
    </li>
  </ul>

