<div class="container">
    <div class="card mt-5 mb-3 p-4">
        <div class="row">
            <div class="col-auto me-auto">
                <h2>Felhasználók</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" routerLink="/adminfelh">Megnyitás</button>
            </div>
        </div>
    </div>
    <div class="card mb-3 p-4">
        <div class="row">
            <div class="col-auto me-auto">
                <h2>Képzések</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" routerLink="/adminkepzsk">Megnyitás</button>
            </div>
        </div>
    </div>
    <div class="card mb-3 p-4">
        <div class="row">
            <div class="col-auto me-auto">
                <h2>Repülők</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" routerLink="/adminrep">Megnyitás</button>
            </div>
        </div>
    </div>
</div>
