<div class="container mt-t pt-5">
    <div class="col-12 col-sm-8 col-mb-6 m-auto">
      <div class="card mt-5 p-3 border-0 shadow col-12 col-sm8"> 
        <h2>
            Email cím megerősítés
        </h2>    
        <div class="text-content">
            <p>Köszönjük a regisztrációt!</p>
            <p>Kérjük erősítse meg email címét a kapott levélben található linken keresztül.</p>
        </div>
        <div class="mb-2">
          <button type="button" class="btn btn-light shadow me-2">Újraküldés</button>
        </div>        
    </div>
    <div class="footer text-center p-3">
      <p>
        Copyright | 2023 | Beki's | school project
      </p>
    </div>
</div>


