<div class="container">
    <div class="card mt-5 p-4">
        <h1 class="p-2"> Képzések </h1>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let oszlop of oszlopok">
                        {{ oszlop.text }}
                    </th>
                    <th>
                        Műveletek
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                    <td *ngFor="let oszlop of oszlopok">

                      <ng-container *ngIf="oszlop.key !== 'airplane_id'; else airplaneName">
                        {{ course[oszlop.key] }}
                      </ng-container>
                      <ng-template #airplaneName>
                        {{ getAirplaneNameById(course.airplane_id) }}
                      </ng-template>

                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifymodal" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                            </svg>
                        </button>  
                    </td> 
                  </tr>
            </tbody>
        </table>  
        <div class="p-2">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createmodal">Új tanfolyam felvétele</button>
        </div>
    </div>

    <div class="modal fade" id="modifymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header justify-content-center">
              <h4 id="exampleModalLabel">Tanfolyamok adatainak módosítása</h4>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="course_name" class="form-label">Megnevezés</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="course_name" class="form-label">Válaszott gép</label>
                    <!-- <select class="form-select" aria-label="Default select example" [(ngModel)]="newCoruse.airplane_id">
                        <option *ngFor="let airplane of airplanes" [value]="airplane.id">{{ airplane.airplane_name }}</option>
                    </select> -->
                </div>
                <div class="mb-3">
                    <label for="instructor" class="form-label">Oktató</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Képzés ideje</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="course_fee" class="form-label">Ár</label>
                    <input type="text" class="form-control" >
                </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Mentés</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Törlés</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="createmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="mb-3">
                <label for="course_name" class="form-label">Megnevezés</label>
                <input type="text" class="form-control" [(ngModel)]="newCoruse.course_name">
            </div>
            <div class="mb-3">
                <label for="course_name" class="form-label">Válaszott gép</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="newCoruse.airplane_id">
                    <option *ngFor="let airplane of airplanes" [value]="airplane.id">{{ airplane.airplane_name }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="instructor" class="form-label">Oktató</label>
                <input type="text" class="form-control" [(ngModel)]="newCoruse.instructor">
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Képzés ideje</label>
                <input type="text" class="form-control" [(ngModel)]="newCoruse.duration">
            </div>
            <div class="mb-3">
                <label for="course_fee" class="form-label">Ár</label>
                <input type="text" class="form-control" [(ngModel)]="newCoruse.course_fee">
            </div>
        <div class="p-2">
            <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal" (click)="createCoruses()">Felvétel</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
        </div>
        </div>
    </div>
</div>
