<ng-container *ngIf="isLoggedin; else authbase">
  <div class="welcome-header p-5">
    <h1>
      Üdvözöl a FunFly csapata
    </h1>
    <h2>
      Repülj velünk először
    </h2>
  </div>
</ng-container>
<ng-template #authbase>
  <div class="welcome-header p-5">
    <div class="row">
        <div class="col-auto me-auto" >
          <h1>
            Üdvözöl a FunFly csapata
          </h1>
          <h2>
            Repülj velünk először
          </h2>
        </div>
        <div class="col-auto">
            <div class="p-2">
              <a routerLink="/bejel" id="authtag">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
              </a>
            </div>
        </div>
      </div>
  </div>
</ng-template >
<div class="col-12 col-sm-8 col-mb-6 m-auto">
  <div class="welcome-content mb-3">
    <div id="carouselExampleIndicators" class="carousel slide col-12 col-sm8" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner mb-2">
        <div class="carousel-item active">
          <img src="../assets/images/plane4.jpg" class="d-block w-100" alt="plane1">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/plane2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/plane1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <div class="welcome-text text-center">
      <p>
          Az élet túl rövid, hogy mindig a földön két lábbal élj. Mit szólnál szárnyakhoz?                          
      </p>
    </div> 
  </div>
  

<!-- modals -->
    <div class="modal fade modal-lg" id="kepzesekmodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2">
            <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
              <h5 class="text-center p-2">
                A FunFly számodra 4 teljesen körű kézpést elvégzését teszi lehetővé.
              </h5>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">PPL</th>
                    <th scope="col">IFR</th>
                    <th scope="col">VFR</th>
                    <th scope="col">NVFR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Alapkézpés</td>
                    <td>Műszeres repülés</td>
                    <td>Vizuális tájékozódás</td>
                    <td>Éjszakai repülés</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Megelőző kézpés nélkül kezdhető</td>
                    <td>Elvárás: PPL szakszolgálati engedély</td>
                    <td>Elvárás: PPL szakszolgálati engedély</td>
                    <td>Elvárás: PPL szakszolgálati engedély</td> 
                  </tr>
                </tbody>
              </table>
              <div class="p-2 mb-2">
                <h5>Nézd meg a képzéseinket</h5>
                <button type="button" class="btn btn-light shadow" routerLink="/jelentkezes" >Tovább</button>
              </div>
            </div>
          </div>
        </div>
    </div>  

    <div class="modal fade modal-lg" id="tipusmodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2">
            <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
              <h5 class="text-center p-2">
                Három különböző Cessna típusra szerezhetsz típusvizsgát!
              </h5>
              <table class="table table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Cessna 172 Skyhawk</th>
                    <th scope="col">Cessna 152</th>
                    <th scope="col">Cessna 162 Skycatcher</th>
                  </tr>
                </thead>
              </table>
              <div class="p-2 mb-2">
                <h5>A gépek műszaki tulajdonságait tekintsd meg a galériánkban.</h5>
                <button type="button" class="btn btn-light shadow" routerLink="/galeria" >Tovább</button>
              </div>
            </div>
          </div>
        </div>
    </div>   

    <div class="modal fade modal-lg" id="mentormodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2">
            <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
              <h5 class="text-center p-2">
                Minden tanuló kap egy mentort miután leadta jelentkezését.
              </h5>
              <p>
                A mentorod email-ben vagy telefonon fog téged keresni, majd minden esetben online fogja tartani a konzultációkat.
                Az oktatás teljese menete alatt tájékoztat és segíti a tanulmányaidat menedzselni.
              </p>
              <h5>
                Az előzetes tájékoztatót itt tudod megtekinteni.
              </h5>
              <button type="button" class="btn btn-light shadow" routerLink="/tajekoztato">Tovább</button>
            </div>
          </div>
        </div>
    </div>            
<!-- modals -->

<div class="fastcard-content mb-3" *ngIf="isLoggedin">
    <div class="faststart-content-header">
      <h2 class="text-center p-2 mb-3">
        Gyorskezdés
      </h2>
    </div> 
    <div class="row ">
      <div class="col-md-4 col-sm-12 mb-2">
        <div class="card shadow" id="fastcard">
            <img src="../assets/images/pilot1.jpg" class="card-img-top" alt="pilot1">
            <div class="p-3 text-center">
              <h6>
                Képzéseink
              </h6>
              <button type="button" id="modalbutton" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#kepzesekmodal" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
              </button>
            </div>
        </div>     
      </div>
      <div class="col-md-4 col-sm-12 mb-2">
        <div class="card shadow"  id="fastcard">
          <img src="../assets/images/testwriting.jpg" class="card-img-top" alt="pilot1">            
          <div class="p-3 text-center">
            <h6>
              Mentorprogram
            </h6>
            <button type="button" id="modalbutton" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#mentormodal" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-2">
        <div class="card shadow "  id="fastcard">
          <img src="../assets/images/pilot2.jpg" class="card-img-top" alt="pilot1">            
          <div class="p-3 text-center">
            <h6>
              Típusvizsgák
            </h6>
            <button type="button" id="modalbutton" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#tipusmodal" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            </button>
          </div>
        </div>
      </div>
    </div>     
</div>


  <div class="aboutus-content mb-3">
    <div class="aboutus-header mb-2 p-2">
        <h1 class="p-2">
          Rólunk
        </h1>
    </div>
      <div class="aboutus-text">
        <div class="text-card card mb-5 shadow">
          <h3 class="p-2">
            Hogy kik vagyunk?
          </h3>
            <div class="image-card card mb-2"> 
              <img src="../assets/images/team2.jpg" alt="plane3">    
            </div>
            <p class="p-2">
              Egy csapat fiatal szakember, akik szeretnék felruházni a repülés csoládatos mesterségével másokat is.
              Csapatunk fő tevékenysége a segítség és kapcsolattartás. 
              A repülni vágyó személyek támogatása, a pilóta képzés ideje alatt saját partnerekkel.
            </p> 
        </div>

        <div class="text-card card mb-5 shadow">
          <h3 class="p-2">
            Miben segítünk?
          </h3>
            <div class="image-card card mb-2"> 
              <img src="../assets/images/plane5copy.jpg" alt="plane3">    
            </div>
          <p class="p-2">
            Létre jöttünk célzata, a tanulók segítése a tanulmányaik alatt. 
            Például ismertetjük velük a kézpést meglőző főbb feladatokat. 
            Kapcsolatban maradunk velük és ellenőrizzük az oktatás menetét.
            A partner oktatóinkkal karöltve szervezzük a oktatásokat és vizsgákat.
          </p>
        </div>   
        <div class="text-card card mb-5 shadow">
          <h3 class="p-2">
            Magánklinika? Hát még jó hogy!
          </h3>
            <div class="image-card card mb-2"> 
              <img src="../assets/images/doktor.jpg" alt="plane3">    
            </div>
          <p class="p-2">
            Az alkalmassági vizsgálatot, repülőorvos partnereink végzik el, kizárólagosan a tanulóink számára. 
          </p>
        </div> 
        <div class="text-card card mb-5 shadow">
          <h3 class="p-2">
            Mire jó a mentorprogram?
          </h3>
            <div class="image-card card mb-2"> 
              <img src="../assets/images/mentor.jpg" alt="plane3">    
            </div>
          <p class="p-2">
            Gyakorlatilag a tanulók, az első oktatásban töltött percétől kezdve kapnak egy mentor.
            Ennek a személynek a feladata, a tanulókat informálni, segíteni, összekötni az oktatókkal. 
            Ez konzultációkon történik, teljesen online.
          </p>
        </div>  
        <div class="text-card card mb-5 shadow">
          <h3 class="p-2">
            Partner vállalatunk a Cessna
          </h3>
            <div class="image-card card mb-2"> 
              <img src="../assets/images/plane9.jpg" alt="plane3">    
            </div>
          <p class="p-2">
            Együtt működésünk alapján tudjuk biztosítani a legjobb gépeket, a legjobb gyártótól.
          </p>
        </div>         
      </div>   
  </div>
</div>   
      
