<div class="header p-4">
    <h1>Várja önt a repülés szabadsága!</h1>
</div>
<div class="container">
    <div class="card p-5 mt-5 mb-3" id="qCard">
        <h4>Mielőtt elkezdjük válaszoljon néhány kérdésre.</h4>
        <div class="row  justify-content-center mt-5">
            <div class="col-4">
                <h6>Rendelkezik érvényes PPL vizsgával?</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="haveppl">
                    <label class="form-check-label" for="havepll">
                      Igen, rendelekezem
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="donthaveppl">
                    <label class="form-check-label" for="donthaveppl">
                      Nem rendelekezem
                    </label>
                  </div>
            </div>
            <div class="col-4">
                <h6>Rendelkezik érvényes repülőorvosi vizsgálattal?</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="haveflydoc">
                    <label class="form-check-label" for="haveflydoc">
                        Igen, rendelekezem                    
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="donthaveflydoc">
                    <label class="form-check-label" for="donthaveflydoc">
                        Nem, rendelekezem
                    </label>
                  </div>
            </div>
        </div>
    </div>
    <!-- modalok -->
    <div class="modal fade" id="PPL" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content p-2">  
            <div class="modal-header">
                <h5 class="modal-title">PPL - leírás</h5>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus beatae obcaecati iusto,
                    quod explicabo dolore consequuntur? Aut soluta iusto quas ipsam beatae veniam delectus inventore quos magni 
                    exercitationem numquam dicta, adipisci illo sit voluptate. 
                    Illum, minus vitae quod corporis, ea commodi voluptatem, numquam enim laudantium earum perferendis a repudiandae.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="IFR" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content p-2">  
            <div class="modal-header">
                <h5 class="modal-title">IFR - leírás</h5>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus beatae obcaecati iusto,
                    quod explicabo dolore consequuntur? Aut soluta iusto quas ipsam beatae veniam delectus inventore quos magni 
                    exercitationem numquam dicta, adipisci illo sit voluptate. 
                    Illum, minus vitae quod corporis, ea commodi voluptatem, numquam enim laudantium earum perferendis a repudiandae.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="VFR" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content p-2">  
            <div class="modal-header">
                <h5 class="modal-title">VFR - leírás</h5>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus beatae obcaecati iusto,
                    quod explicabo dolore consequuntur? Aut soluta iusto quas ipsam beatae veniam delectus inventore quos magni 
                    exercitationem numquam dicta, adipisci illo sit voluptate. 
                    Illum, minus vitae quod corporis, ea commodi voluptatem, numquam enim laudantium earum perferendis a repudiandae.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="NVFR" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content p-2">  
            <div class="modal-header">
                <h5 class="modal-title">NVFR - leírás</h5>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus beatae obcaecati iusto,
                    quod explicabo dolore consequuntur? Aut soluta iusto quas ipsam beatae veniam delectus inventore quos magni 
                    exercitationem numquam dicta, adipisci illo sit voluptate. 
                    Illum, minus vitae quod corporis, ea commodi voluptatem, numquam enim laudantium earum perferendis a repudiandae.</p>
            </div>
        </div>
      </div>
    </div>
    <!-- modalok -->

    <div class="card p-5" id="courses">
        <h4 class="mb-3">Válasszon képzések közül</h4>
        <div class="card p-3 mb-3" id="coursecard">
            <h5>Private pilot license</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, officia qui nostrum nihil asperiores nulla beatae rerum eveniet modi. Nisi!</p>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-light me-2" type="button">Jelentkezés</button>
                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#PPL">Részletek</button>
            </div>
        </div>
        <div class="card p-3 mb-3" id="coursecard">
            <h5>Instrument flight rules</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, officia qui nostrum nihil asperiores nulla beatae rerum eveniet modi. Nisi!</p>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-light me-2" type="button">Jelentkezés</button>
                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#IFR">Részletek</button>
            </div>
        </div>
        <div class="card p-3 mb-3" id="coursecard">
            <h5>visual flight rules</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, officia qui nostrum nihil asperiores nulla beatae rerum eveniet modi. Nisi! Visual Meteorological Conditions, Instrument Meteorological Conditions</p>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-light me-2" type="button">Jelentkezés</button>
                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#VFR">Részletek</button>
            </div>
        </div>
        <div class="card p-3" id="coursecard">
            <h5>Night visual flight rules</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, officia qui nostrum nihil asperiores nulla beatae rerum eveniet modi. Nisi!</p>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-light me-2" type="button">Jelentkezés</button>
                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#NVFR">Részletek</button>
            </div>
        </div>
    </div>
</div>
