.container{
    height: 70vh;
}
.header{
    background-color: rgba(255, 255, 255, 0.1);
}
.card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
}

.card h4 {
    font-weight: 500;
    font-size: 20px;
    color: #333; 
}
.card p {
    font-size: 16px; 
    color: #555; 
    margin-bottom: 10px; 
}

.btn {
    margin-top: 50px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

