<div class="container mt-2">
  <div class="col-12 col-sm-8 col-md-6 mx-auto" style="max-width: 30rem;">
    <div class="card border-0 shadow p-5 mb-2">
      <h2 class="text-center mb-3 p-3">
        Üdvözöljük! <br>
      Kérem regisztráljon 
    </h2>      
      <div class="mb-3">
        <input type="email" placeholder="Felhasználónév" 
        class="inp form-control" id="username" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <input type="email" placeholder="Emailcím" 
        class="inp form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <input type="password" placeholder="Jelszó" 
        class="inp form-control" id="password">
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 text-center mx-auto" (click)="startSpin()">
          <img *ngIf="isSpinning" src="../../../assets/images/jetengine.png" id="propeller" class="spinning">
          <img *ngIf="!isSpinning" src="../../../assets/images/jetengine.png" id="propeller">
        </div>
      </div>
    </div>       
  </div>
</div>
<div class="footer p-5 text-center">
  <p class="mt-2">
    Copyright | 2023 | Beki's | school project
  </p>
</div>


 