
<div class="container mt-t pt-5">
  <div class="col-12 col-sm-8 col-mb-6 m-auto">
    <div class="card mt-5 p-3 border-0 shadow">
        <h2 class="text-center mb-3 p-3">Üdvözöljük</h2>
          <div class="mb-3">
            <input type="name" placeholder="Felhasználó" class="inp form-control" id="name">
          </div>
          <div class="mb-3">
            <input type="email" placeholder="Email" class="inp form-control" 
            id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="password" placeholder="Jelszó" class="inp form-control" id="password">
          </div>
          <div class="text-center mb-3">
            <button type="button" class="btn btn-dark">Regisztráció</button>
          </div>
      </div>
      <div class="footer text-center p-3">
        <p>
          Copyright | 2023 | Beki's | school project
        </p>
      </div>
    </div>
</div>

 