<div class="container pt-5">
    <div class="col-12 col-sm-8 col-mb-6 m-auto">
        <div class="card mt-5 p-3 border-0 shadow col-12 col-sm8" style="max-width: 30rem;">
            <h2 class="text-center mb-3 p-3">
                Új jelszó igénylés
            </h2>
            <p class="mb-3">
                Kérjük írja be a email címét, hogy új jelszót tudjon beállítani.
            </p>
            <div class="mb-3">
                <input type="email" placeholder="Email" 
                class="inp form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-light shadow me-2" id="verifybtn">Új jelszó</button>
                <button routerLink="/bejel" type="button" class="btn btn-light shadow" id="verifybtn">Vissza</button>
            </div>
        </div>
    </div>  
</div>
