<div class="header p-4">
    <h1 class="p-2">Általános tájékoztató</h1>
    <h2>Pár fontos tudni való mielőtt leadod első jelentkezésed.</h2>
</div>
<div class="container">
    <div class="card mt-5 p-5">
        <h4 class="p-4">Ismerd meg a pilótaengedély megszerzésének alapvető követelményeit!</h4>
        <div class="card p-3 mb-4">
            <h5>Követelmények</h5>
            <p>A pilótaengedély megszerzéséhez általában a következő követelményeknek kell megfelelned:</p>
                <ul>
                  <li>Előzetes orvosi vizsgálat és egészségügyi engedély megléte</li>
                  <li>Megfelelő életkor (első egyedül repülés előtt 16)</li>
                  <li>Szakszolgálati engedélyt 17 kortól kaphatod meg</li>
                  <li>Max testsúly 105kg lehet</li>
                </ul>
            <p>Gyakorlatilag készen is állsz, ha ezek megvannak. A szakszolgálati engedély megszerzése már más tészta.</p>
        </div>
        <div class="card mb-4 p-3">
            <h5>Orvosi alkalmassági vizsgálat</h5>
            <p>Itt mindent megtudsz, ami fontos lehet számodra az alkalmassági vizsgálatról!</p>
            <ul>
                <li>
                    Regisztráció
                    Űrlapok kitöltése (Fontos, hogy valós adatokat adj meg!)
                </li>
                <li>
                    Előzetes konzultáció
                </li>
                <li>
                    Egészügyi vizsgálat (Vérnyomás, pulzus, látás, hallás, reflexek, légzőszervek)
                </li>
                <li>
                    Specifikus repülés-egészségügyi vizsgálat (szimulált repülés,vestibularis funkciók ellenőrzése)
                </li>
                <li>
                    Tanácsadás az egészséges repülési szokásokról és életmódról
                </li>
                <li>
                    Az orvos kiadja az egészségügyi alkalmassági tanúsítványt
                </li>
                <li>
                    További tanácsadás, ha szűkséges
                </li>
            </ul>
            <p class="mb-2">Az alkalmassági vizsgálat ára: <span>200 €</span></p>
            <p>Amire szűkséged lehet:</p>
            <ul class="mb-2">
                <li>személyi igazolvány vagy útlevél</li>
                <li>Korábbi orvosi dokkumentumok, melyeket a magán orvosunk megvizsgál</li>
                <li>Tartós betegség, gyógyszer szedésről szóló dokkumentumok</li>
                <li>Korábbi orvosi tanúsítványok vagy vizsgálati eredmények</li>
                <li>Vizsgálati díj, fizetés a helyszínen!</li>
            </ul>
            <p>A vizsgálat helyszíne :</p>
            <ul>
                <li>Budapest Mester utca 12. 4/13b</li>
                <li>Miskolc Harangláb út 7.</li>
            </ul>
        </div>
        <div class="card p-3 mb-4">
            <h5>Jelentkezés menete</h5>
            <p>
                A következőkben ki kell tölsd az adatlapod, melynek szerepe elengedhetetlen a tanfolyamokra való jelentkezést tekintve. Ezt a profilodon tudod majd megtenni, így tudunk majd azonosítani téged. 
                Ez után a weboldalunkon, a tanfolyamoknál megadod, hogy rendelkezel e már szakszolgálati engedéllyel vagy sem, illetve, hogy rendelkezel e érvényes alkalmassági vizsgálattal.
                A leadott jelentkezéseidet te is megtekintheted szintén a profilodon, ahol továbbá tévedés esetén lemondani is tudod, melyről értesülünk.    
            </p>
        </div>
        <div class="card p-3 mb-4">
            <h5>Mentorprogram</h5>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, magni possimus est explicabo blanditiis adipisci eligendi, culpa ea ut impedit necessitatibus harum cumque. Ab quidem quisquam non cupiditate et laudantium a totam reiciendis iusto rerum? Enim unde facilis et consectetur, perspiciatis nobis. Eos excepturi laborum voluptatum eum assumenda minima? Voluptas libero aut illum iusto modi magni ipsa, temporibus, deleniti voluptatum ipsam omnis. Voluptates sint, sunt hic nisi veniam asperiores similique impedit facilis facere nobis obcaecati et beatae iure eius odio atque ab, illo sed repellat quas reprehenderit minima dicta cumque eaque. Ad facere doloremque quod quos expedita praesentium alias magnam?
            </p>
        </div>
        <div class=" card p-3 mb-4">
            <h5>Tanfolyamok menete és megkezdése</h5>
            <p>Ha minden papírod megfelelt és sikeresen jelentkeztél, email-ben kapni fogsz egy értesítőt. A partner oktatóval fogod felvenni a kapcsolatot, akivel részletesen megfogjátok beszélni a következő lépést a tanfolyam elvégzéséhez.</p>
        </div>
        <div class=" card p-3 mb-4">
            <h5>Fontos!</h5>
            <p>Olyan tanfolyamokra nem tudsz jelentkezni, melyekhez kell szakszolgálati engedély!</p>
            <p>Azonban, ha már akkor az nagyszerű. Ennek jelentőségével a tanfolyamoknál fogsz találkozni.</p>
        </div>
        <ng-container *ngIf="!isChecked; else notChecked">
            <div class="row justify-content-center">
              <div class="col-6">
                <div class="card check-card p-3 mb-4">
                  <div>
                    <p>Elolvasta a tájékoztatót és tudomásul vette a tanfolyamokkal járó kötelezettségeit?</p>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="isChecked" (change)="handleCheckboxChange()" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Elfogadom
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #notChecked>
            <div class="card p-3 text-center">
                <h4>Köszönjük, hogy minket választottál!</h4>
                <p>Itt tovább léphetsz a tanfolyamok megtekintéséhez</p>
                <div>
                  <button type="button" class="btn btn-light" routerLink="/jelentkezes">Tovább</button>
                </div>
              </div>
          </ng-template>
          
    </div>
</div>

