<link rel="stylesheet" href="bejel.component.css">
<div class="card mt-5 p-3">
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
        <div class="input-group mb-3">
            <span class="input-group-text">**</span>
            <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
          </div>

        <button type="button" class="btn btn-primary">Bejelentkezés</button>
          
    </div>
  </div>
