.h1{
  font-size: 3rem;
}
.card{

  background-color: rgba(255,255,255,0.5); 
  margin: 0 auto;
}
.container{
  margin-top: 20px;
  min-height: 80vh;
}
.inp{
  border-radius: 20px;
}
#propeller{
  height: 100px;
  width: 100px;
}
#propeller:hover{
  animation: spin 3s infinite linear;
}
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@media only screen and (max-widht:600px){
  .container{
    border:none;
  }
}






