<div class="container">
  <div class="col-12 col-sm-8 col-md-6 mx-auto" style="max-width: 30rem;">
    <div class="card border-0 shadow p-5 mb-4">
      <h2 class="text-center mb-3 p-3">
        Jelentkezzen be
      </h2>       
      <div class="mb-3">
        <input type="email" placeholder="Emailcím" 
        class="inp form-control" id="email" aria-describedby="emailHelp"
        [(ngModel)]="user.email"
        >
      </div>
      <div class="mb-3">
        <input type="password" placeholder="Jelszó" 
        class="inp form-control" id="password"
        [(ngModel)]="user.password"
        >
      </div>
      <div class="row justify-content-center">
        <div class=" col-12 col-sm-8 col-md-6 mb-2 text-center mx-auto" (click)="login()">
          <img *ngIf="isSpinning" src="../../../assets/images/jetengine.png" id="propeller" class="spinning">
          <img *ngIf="!isSpinning" src="../../../assets/images/jetengine.png" id="propeller">
        </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 mb-2 text-center mx-auto">
          <a class="nav-link" routerLink="/elfelejtett">Elfelejtett jelszó</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 mb-2 text-center mx-auto">
          <a class="nav-link" routerLink="/regist">Nincs fiókja?</a>
        </div>
      </div>     
    </div>       
  </div>
</div>

 


