<div class="container">
    
      <!-- profilon belüli nav -->      
      <div class="offcanvas offcanvas-start justify-content-center"  data-bs-scroll="true" data-bs-backdrop="false" id="profilmenu">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offParagraph text-center mb-2">
                <h5>
                    Adatlap
                </h5>
                <button type="button" class="btn btn-light" routerLink="/adatlap">Szerkesztés</button>
            </div>
            <div class="offParagraph text-center mb-2">
                <h5>
                    Jelentkezések
                </h5>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#courseDetails">Részletek</button>
            </div>
            <div class="offParagraph text-center">
                <button type="button" class="btn btn-light mb-1" routerLink="/admin" *ngIf="isAdmin">Admin felület</button>
                <button type="button" class="btn btn-light mb-1">Új jelszó</button>
                <button type="button" class="btn btn-light" (click)="logout()">Kilépés</button>
            </div>
        </div>
      </div>
<!-- kkkkk -->
      <!-- modalCourses -->
      <div class="modal fade" id="courseDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content p-5">

            <table class="table" class="table" *ngIf="userCourses && userCourses.length > 0">
              <thead>
                <tr>
                  <th *ngFor="let column of courses">
                    {{ column.text }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of userCourses"> 
                  <td *ngFor="let column of courses">

                    <ng-container *ngIf="column.key !== 'airplane_id'; else airplaneName">
                      {{course[column.key]}}
                    </ng-container>
                    <ng-template #airplaneName>
                      {{getAirplaneNameById(course.airplane_id)}}
                    </ng-template>

                  </td>
                  <td>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modifymodal" (click)="chooseOneCourse(course); $event.stopPropagation()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                      </svg>
                    </button>
                  </td> 
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!-- modalCoursesEND -->

    <div class="card p-3 shadow mt-5 mb-3">
        <div class="row">
            <div class="col-auto me-auto" >
                <h2 >Üdvözöljük a profilján!</h2>
            </div>
            <div class="col-auto">
                <div class="p-2">
                    <button id="slidemenu" class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#profilmenu" aria-controls="offcanvasExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                          </svg>
                    </button>
                </div>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card p-3 shadow" id="datacard">
                <h3 class="p-3 text-center">Adatlap</h3>
                <div class="card-body">
                    <div *ngFor="let oszlop of oszlopok" class="row">
                        <div class="col mb-3 ">
                            {{ oszlop.text }}
                        </div>
                        <div class="col">
                            {{ user[oszlop.key] }}
                        </div>
                    </div>                   
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card p-3 shadow" id="datacard">
                <h3 class="p-3 text-center">Jelentkezések</h3>

                <ng-container *ngIf="userCourses.length > 0; else noCourses">
                    <table>
                      <thead>
                        <tr>
                          <th>Megnevezés</th>
                          <th>Időtartam</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let course of userCourses">
                          <td>{{ course.course_name }}</td>
                          <td>{{ course.duration }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>

                  <ng-template #noCourses>
                    <div class="card">
                      <div class="card-body">
                        Még nincs leadva jelentkezés.
                      </div>
                    </div>
                  </ng-template>
                  
            </div>
        </div>
    </div>
</div>