.h1{
  font-size: 3rem;
}
.card{
  position: absolute;
  background-color: rgba(255,255,255,0.5); 
  margin: 0 auto;
  margin-top: 100px;
}
.container{
  position: relative;
  min-height: 90vh;
}
.inp{
  border-radius: 20px;
}
#propeller {
  height: 100px;
  width: 100px;
  transition: transform 3s linear;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
#propeller.spinning {
  animation: spin 3s infinite linear;
}
@media only screen and (max-width: 600px) {
  .container {
      border: none;
  }
}







